{% extends 'Base.html' %}
{% block title %} Поезда {% endblock %}
{% block content %}
<h1 class="display-4 text-center my-4">Поезда</h1>
<div class="col-md-10 mx-auto">
    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Номер поезда</th>
                        <th scope="col">Откуда</th>
                        <th scope="col">Куда</th>
                        <th class="text-center" scope="col">Время в пути</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
        <tbody>
        {% for train in page_obj %}
        <tr>
            <td><a href="{% url 'train:current_train' train.pk %}">{{ train.name }}</a></td>
            <td>{{ train.from_city }}</td>
            <td>{{ train.to_city }}</td>
            <td class="text-center">{{ train.travel_time }}</td>
            <td><a href="{% url 'train:update' train.pk %}">
                <button type="button" class="btn btn-primary">Редактировать</button>
            </a></td>
            <td><a href="{% url 'train:delete' train.pk %}">
                <button type="button" class="btn btn-danger">Удалить</button>
            </a></td>
        </tr>
        {% endfor %}
        <tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
            </li>

            {% for i in page_obj.paginator.page_range %}
            <li class="page-item current {% ifequal i page_obj.number %} active {% endifequal %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}

            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>

        </ul>
    </nav>
    <a href="{% url 'train:create' %}">
        <button type="button" class="btn btn-info">Добавить поезд</button>
    </a>
</div>
{% endblock %}
