{% extends 'base.html' %}
{% block title %} Города {% endblock %}
{% block content %}
<h1 class="display-4">Города</h1>
<div class="row">
    <h3 class="col-md-3">Просмотр городов
        <div>
            {% for city in cities_list %}
            <p>
                <a href="{% url 'city:current_city' city.id %}">{{ city.name }}</a></p>
            {% endfor %}
        </div>
    </h3>
    <h3 class="col-md-4">Изменение городов
        <div>
            {% for city in cities_list %}
            <p>
                <a href="{% url 'city:update' city.id %}">{{ city.name }}</a></p>
            {% endfor %}
        </div>
    </h3>
    <h3 class="col-md-4">Удаление городов
        <div>
            {% for city in cities_list %}
            <p>
                <a href="{% url 'city:delete' city.id %}">{{ city.name }}</a></p>
            {% endfor %}
        </div>
    </h3>
</div>
<div>
    <a href="{% url 'city:create' %}" class="text-light">
        <button type="button" class="btn btn-dark">
            Создать город
        </button>
    </a>
</div>
{% endblock %}
